{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-wrapper">
    <div class="login-container">
        <!-- Left Side Container -->
        <div class="login-left">
            <h1>Welcome to AdVance Real Estate!</h1>
            <p class="restricted">Restricted Access: This portal is for the site owner only.</p>

            <form method="post" class="login-form">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="username" placeholder="E-mail" required class="login-input">
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Password" required class="login-input">
                </div>
                <button type="submit" class="login-btn">Login</button>
                <p class="need-account">Need an account? Contact your administrator.</p>
            </form>
        </div>
        <!-- Right Side Container -->
        <div class="login-right">
            <img src="{% static 'img/Green_on_white_logo.png' %}" alt="AdVance Home Real Estate" class="login-logo">
        </div>
    </div>
</div>
{% endblock %}